<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <title>Edit Page</title>

</head>

<body class="bg-gray-500 mt-6">
    <div class="form max-w-xl w-full bg-gray-800 mx-auto p-6 rounded-lg shadow-lg">
        <form action="/edit/<%=filename%>" method="post" class="space-y-6">
            <div class="ml-2">
                <label class="text-amber-50">Current File Name</label>
                <h2 class="text-amber-100 font-bold text-3xl mt-" 2><%=filename%></h2>
            </div>
            <div>
                <label for="newtitle" class="block text-sm font-medium text-gray-300 mb-1">New File Name </label>
                <input type="text" id="title" name="newtitle"
                    class="w-full px-4 py-2 bg-gray-700 border border-gray-600 text-white rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>

            <button type="submit"
                class="w-full bg-amber-500 text-gray-900 font-semibold py-2 rounded hover:bg-amber-600 transition">
                Change File Name
            </button>

            <a href="/" class="text-blue-500">Back to Home</a>
        </form>
    </div>
</body>

</html>